# Client Side

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/hotel--booking--client/node_modules
/hotel--booking--client/.pnp
/hotel--booking--client/.pnp.js

# testing
/hotel--booking--client/coverage

# production
/hotel--booking--client/build

# misc
/hotel--booking--client/.DS_Store
/hotel--booking--client/.env.local
/hotel--booking--client/.env.development.local
/hotel--booking--client/.env.test.local
/hotel--booking--client/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# firebase confige
/hotel--booking--client/src/components/Login/firebase.config.js


# Server Side

hotel--booking--server/node_modules
/hotel--booking--server/.env
/hotel--booking--server/configs
